.performance-ul {
    background-color: rgba(0,0,0,0.7);
}

.song-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    max-width: 90%;
    margin: 0 auto;
}

.song-list {
    margin: 0;
}